reserveAPP/obj/project.assets.json
reserveAPP/obj/project.nuget.cache
reserveAPP/obj/ReserveAPP.csproj.nuget.dgspec.json
reserveAPP/obj/staticwebassets.pack.sentinel
reserveAPP/obj/Debug/net6.0/ReserveAPP.GeneratedMSBuildEditorConfig.editorconfig
reserveAPP/obj/Debug/net6.0/ReserveAPP.genruntimeconfig.cache
reserveAPP/obj/Debug/net6.0/ReserveAPP.MvcApplicationPartsAssemblyInfo.cs
reserveAPP/obj/Debug/net6.0/ReserveAPP.pdb
