@import "../../../styles/settings";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.datePickerSection {
  display: flex;
  align-items: center;

  button {
    margin: 0 10px;
  }
}

.quickActions {
  display: flex;
  align-items: center;
}

.legend {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  h3 {
    margin-bottom: 10px;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin: 0 20px;

      .legendCircle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        background: linear-gradient(145deg, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.1));
      }
    }
  }
}

.dateBox {
  display: flex;
  justify-content: center;
  margin: 20px 30% 20px 30%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;

  .successBtt {
    background-color: $color-success;

    &:hover {
      background-color: $color-light;
      color: $color-success;
    }
  }

  .deleteBtt {
    background-color: $color-warning;

    &:hover {
      background-color: $color-light;
      color: $color-warning;
    }
  }

  .trashBtt {
    background-color: $color-dark;

    &:hover {
      background-color: $color-light;
      color: $color-dark;
    }
  }

  button {
    color: $color-light;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

.durationSelect {
  min-width: 185px;
}

.hourCell {
  width: 150px;
  text-align: center;
}

.userList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -5px;
  background: #ebe9e9;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 100;

  .userListItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #f7f7f7;
    }
  }
}






